.idea
target/*
project/*
quartus/altde2-115/*
incremental_db/*
generated/*
db/*
test_run_dir/*
.bloop/aca-riscv-test.json
.bloop/aca-riscv.json
.bloop/bloop.settings.json
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/META-INF/semanticdb/src/main/scala/riscv/Alu.scala.semanticdb
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/META-INF/semanticdb/src/main/scala/riscv/AluCtl.scala.semanticdb
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/META-INF/semanticdb/src/main/scala/riscv/Constants.scala.semanticdb
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/META-INF/semanticdb/src/main/scala/riscv/DecodeStage.scala.semanticdb
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/META-INF/semanticdb/src/main/scala/riscv/ExStage.scala.semanticdb
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/META-INF/semanticdb/src/main/scala/riscv/FetchStage.scala.semanticdb
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/META-INF/semanticdb/src/main/scala/riscv/Forwarder.scala.semanticdb
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/META-INF/semanticdb/src/main/scala/riscv/HazardDetectionUnit.scala.semanticdb
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/META-INF/semanticdb/src/main/scala/riscv/ImmGen.scala.semanticdb
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/META-INF/semanticdb/src/main/scala/riscv/InstructionMemory.scala.semanticdb
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/META-INF/semanticdb/src/main/scala/riscv/MainCtl.scala.semanticdb
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/META-INF/semanticdb/src/main/scala/riscv/Memory.scala.semanticdb
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/META-INF/semanticdb/src/main/scala/riscv/MemStage.scala.semanticdb
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/META-INF/semanticdb/src/main/scala/riscv/RegisterFile.scala.semanticdb
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/META-INF/semanticdb/src/main/scala/riscv/Riscv.scala.semanticdb
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/META-INF/semanticdb/src/main/scala/riscv/WriteBackStage.scala.semanticdb
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/Alu.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/Alu$$anon$1.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/AluCtl.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/AluCtl$$anon$1.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/Constants.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/Constants$.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/DecodeStage.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/DecodeStage$$anon$1.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/ExStage.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/ExStage$$anon$1.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/FetchStage.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/FetchStage$.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/FetchStage$$anon$1.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/Forwarder.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/Forwarder$$anon$1.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/HazardDetectionUnit.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/HazardDetectionUnit$$anon$1.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/ImmGen.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/ImmGen$$anon$1.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/InstructionMemory.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/InstructionMemory$.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/InstructionMemory$$anon$1.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/MainCtl.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/MainCtl$$anon$1.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/Memory.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/Memory$$anon$1.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/MemStage.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/MemStage$$anon$1.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/RegisterFile.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/RegisterFile$$anon$1.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/Riscv.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/Riscv$$anon$1.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/RiscvMain.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/RiscvMain$.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/RiscvMain$delayedInit$body.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/WriteBackStage.class
.bloop/aca-riscv/bloop-bsp-clients-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/WriteBackStage$$anon$1.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/META-INF/semanticdb/src/test/scala/riscv/AluCtlTest.scala.semanticdb
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/META-INF/semanticdb/src/test/scala/riscv/AluTest.scala.semanticdb
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/META-INF/semanticdb/src/test/scala/riscv/DecodeStageTest.scala.semanticdb
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/META-INF/semanticdb/src/test/scala/riscv/ExStageTest.scala.semanticdb
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/META-INF/semanticdb/src/test/scala/riscv/FetchStageTest.scala.semanticdb
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/META-INF/semanticdb/src/test/scala/riscv/HazardDetectionUnitTest.scala.semanticdb
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/META-INF/semanticdb/src/test/scala/riscv/ImmGenTest.scala.semanticdb
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/META-INF/semanticdb/src/test/scala/riscv/InstructionMemoryTest.scala.semanticdb
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/META-INF/semanticdb/src/test/scala/riscv/MainCtlTest.scala.semanticdb
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/META-INF/semanticdb/src/test/scala/riscv/MemoryTest.scala.semanticdb
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/META-INF/semanticdb/src/test/scala/riscv/MemStageTest.scala.semanticdb
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/META-INF/semanticdb/src/test/scala/riscv/RegisterFileTest.scala.semanticdb
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/META-INF/semanticdb/src/test/scala/riscv/WriteBackStageTest.scala.semanticdb
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/AluCtlTest.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/AluCtlTester.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/AluCtlTester$.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/AluTest.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/AluTester.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/AluTester$.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/DecodeStageTest.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/DecodeStageTester.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/DecodeStageTester$.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/ExStageTest.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/ExStageTester.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/ExStageTester$.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/FetchStageTest.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/FetchStageTester.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/FetchStageTester$.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/HazardDetectionUnitTest.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/HazardDetectionUnitTester.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/HazardDetectionUnitTester$.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/ImmGenTest.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/ImmGenTester.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/ImmGenTester$.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/InstructionMemoryTest.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/InstructionMemoryTester.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/InstructionMemoryTester$.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/MainCtlTest.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/MainCtlTester.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/MainCtlTester$.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/MemoryTester.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/MemoryTester$.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/MemStageTest.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/MemStageTester.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/MemStageTester$.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/MemTest.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/RegisterFileTest.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/RegisterFileTester.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/RegisterFileTester$.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/WriteBackStageTest.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/WriteBackStageTester.class
.bloop/aca-riscv/bloop-bsp-clients-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==/riscv/WriteBackStageTester$.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/META-INF/semanticdb/src/main/scala/riscv/Alu.scala.semanticdb
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/META-INF/semanticdb/src/main/scala/riscv/AluCtl.scala.semanticdb
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/META-INF/semanticdb/src/main/scala/riscv/Constants.scala.semanticdb
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/META-INF/semanticdb/src/main/scala/riscv/DecodeStage.scala.semanticdb
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/META-INF/semanticdb/src/main/scala/riscv/ExStage.scala.semanticdb
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/META-INF/semanticdb/src/main/scala/riscv/FetchStage.scala.semanticdb
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/META-INF/semanticdb/src/main/scala/riscv/Forwarder.scala.semanticdb
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/META-INF/semanticdb/src/main/scala/riscv/HazardDetectionUnit.scala.semanticdb
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/META-INF/semanticdb/src/main/scala/riscv/ImmGen.scala.semanticdb
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/META-INF/semanticdb/src/main/scala/riscv/InstructionMemory.scala.semanticdb
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/META-INF/semanticdb/src/main/scala/riscv/MainCtl.scala.semanticdb
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/META-INF/semanticdb/src/main/scala/riscv/Memory.scala.semanticdb
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/META-INF/semanticdb/src/main/scala/riscv/MemStage.scala.semanticdb
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/META-INF/semanticdb/src/main/scala/riscv/RegisterFile.scala.semanticdb
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/META-INF/semanticdb/src/main/scala/riscv/Riscv.scala.semanticdb
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/META-INF/semanticdb/src/main/scala/riscv/WriteBackStage.scala.semanticdb
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/Alu.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/Alu$$anon$1.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/AluCtl.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/AluCtl$$anon$1.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/Constants.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/Constants$.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/DecodeStage.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/DecodeStage$$anon$1.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/ExStage.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/ExStage$$anon$1.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/FetchStage.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/FetchStage$.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/FetchStage$$anon$1.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/Forwarder.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/Forwarder$$anon$1.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/HazardDetectionUnit.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/HazardDetectionUnit$$anon$1.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/ImmGen.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/ImmGen$$anon$1.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/InstructionMemory.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/InstructionMemory$.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/InstructionMemory$$anon$1.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/MainCtl.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/MainCtl$$anon$1.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/Memory.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/Memory$$anon$1.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/MemStage.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/MemStage$$anon$1.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/RegisterFile.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/RegisterFile$$anon$1.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/Riscv.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/Riscv$$anon$1.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/RiscvMain.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/RiscvMain$.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/RiscvMain$delayedInit$body.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/WriteBackStage.class
.bloop/aca-riscv/bloop-internal-classes/classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-ih_DJbujTAOZyNdS2GEXcQ==/riscv/WriteBackStage$$anon$1.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/META-INF/semanticdb/src/test/scala/riscv/AluCtlTest.scala.semanticdb
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/META-INF/semanticdb/src/test/scala/riscv/AluTest.scala.semanticdb
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/META-INF/semanticdb/src/test/scala/riscv/DecodeStageTest.scala.semanticdb
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/META-INF/semanticdb/src/test/scala/riscv/ExStageTest.scala.semanticdb
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/META-INF/semanticdb/src/test/scala/riscv/FetchStageTest.scala.semanticdb
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/META-INF/semanticdb/src/test/scala/riscv/HazardDetectionUnitTest.scala.semanticdb
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/META-INF/semanticdb/src/test/scala/riscv/ImmGenTest.scala.semanticdb
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/META-INF/semanticdb/src/test/scala/riscv/InstructionMemoryTest.scala.semanticdb
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/META-INF/semanticdb/src/test/scala/riscv/MainCtlTest.scala.semanticdb
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/META-INF/semanticdb/src/test/scala/riscv/MemoryTest.scala.semanticdb
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/META-INF/semanticdb/src/test/scala/riscv/MemStageTest.scala.semanticdb
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/META-INF/semanticdb/src/test/scala/riscv/RegisterFileTest.scala.semanticdb
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/META-INF/semanticdb/src/test/scala/riscv/WriteBackStageTest.scala.semanticdb
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/AluCtlTest.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/AluCtlTester.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/AluCtlTester$.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/AluTest.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/AluTester.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/AluTester$.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/DecodeStageTest.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/DecodeStageTester.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/DecodeStageTester$.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/ExStageTest.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/ExStageTester.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/ExStageTester$.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/FetchStageTest.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/FetchStageTester.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/FetchStageTester$.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/HazardDetectionUnitTest.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/HazardDetectionUnitTester.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/HazardDetectionUnitTester$.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/ImmGenTest.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/ImmGenTester.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/ImmGenTester$.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/InstructionMemoryTest.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/InstructionMemoryTester.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/InstructionMemoryTester$.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/MainCtlTest.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/MainCtlTester.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/MainCtlTester$.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/MemoryTester.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/MemoryTester$.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/MemStageTest.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/MemStageTester.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/MemStageTester$.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/MemTest.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/RegisterFileTest.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/RegisterFileTester.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/RegisterFileTester$.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/WriteBackStageTest.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/WriteBackStageTester.class
.bloop/aca-riscv/bloop-internal-classes/test-classes-Metals-Xun0JhhHRUeopAEFswtt1Q==-6zFiS0gSRjinTMtbOJdTew==/riscv/WriteBackStageTester$.class
.metals/metals.lock.db
.metals/readonly/chisel3/Data.scala
.metals/readonly/chisel3/When.scala
build.sbt
