.idea
target/*
project/*
generated/*
test_run_dir/*
.metals/*
build.sbt
.bloop/*
quartus/altde2-115/db/*
quartus/altde2-115/incremental_db/*
quartus/altde2-115/*.sof
quartus/altde2-115/*.*.rpt
quartus/altde2-115/*.summary
quartus/altde2-115/*.fit.*
quartus/altde2-115/*.done
quartus/altde2-115/*.asm.*